body, html{
  margin: 0;
  width: 100%;
  height: 100%;
}

/* Home Page Main Section */

#app {
  overflow: hidden;
  touch-action: pan-up;
  color: #ffffff;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  text-shadow: 0 0 5px #ffffff, 0 0 20px #000, 0 0 30px #000;
  margin: 0;
  width: 100%;
  height: 100vh;
}

#app h3 {
  --fontSize: 45px;
  --lineHeight: 20px;
  width: auto;
  height: calc(2 * var(--lineHeight));
  line-height: var(--lineHeight);
  margin: calc(43vh - var(--lineHeight)) auto 0;
  font-size: var(--fontSize);
}

#app h4 {
  font-size: 25px;
  margin-top: 0px;
  display: inline-block;
  text-decoration: none;
  color: #fff;
}

#app canvas {
  display: block;
  position: absolute;
  z-index: -1;
  top: 0;
}

/* NAV BAR */

.push {
  margin-right: auto;
}

.main-nav{
  display: flex;
  list-style: none;
  font-size: 0.9em;
  margin: 0;
}

@media only screen and (max-width: 990px) {
  .main-nav{
    font-size: 0.6em;
    padding: 0;
  }
  a {
    color: #fff;
    text-decoration: none;
    padding: 5px;
  }
  li {
    padding: 10px;
  }
  .push{
    margin-left: 14px;
  }
  #app h3 {
    --fontSize: 22px;
    --lineHeight: 29px;
    width: auto;
    height: calc(2 * var(--lineHeight));
    line-height: var(--lineHeight);
    margin: calc(43vh - var(--lineHeight)) auto 0;
    font-size: var(--fontSize);
    margin-bottom: -10px;
  }
  
  #app h4 {
    font-size: 20px;
    margin-top: 0px;
    display: inline-block;
    text-decoration: none;
    color: #fff;
  }
}

@media only screen and (max-width: 650px) {
  .col-7{
    text-align: left;
    width: 100vh;
    padding-top: 10px;
  }

 .col{
    width: 100vh;
 }

.clearfix {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.clearfix img {
  margin: 0 20px;
  max-width: 75%;
  height: auto;
}

.sectionAbout p {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 10px;
  text-align: justify;
  margin: 10px;
}

}

li {
  padding: 0px;
  padding-top: 20px;
  padding-left: 0px;
  padding-right: 20px;
}

a {
  color: #fff;
  text-decoration: none;
  padding: 5px;
}

li.sections:hover a {
  text-decoration: none;
  color: rgb(253, 253, 253);
  border-radius: 10%;
  background-color: rgba(219, 219, 219, 0.274);
}

li.push:hover a {
  text-decoration: none;
  color: rgb(253, 253, 253);
}

.icons i {
  font-size: 14px;
  margin-right: 5px;
}

.sectiontwo{
  padding-top: 20px;
  padding-bottom: 20px;
}

.list-group-item{
  text-align: left;
}


.clearfix {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.clearfix img {
  margin: 0 20px;
  max-width: 50%;
  height: auto;
  border-radius: 5%;

}

.sectionAbout p {
  display: flex;
  /* flex-wrap: wrap; */
  justify-content: left;
  align-items: left;
  padding: 10px;
  text-align: left;
  margin: 10px;
}

.sectionthree h1{
  text-align: center;
  margin-bottom: 10px;
  padding-top: 0px;
}

hr{
  width: 50%;
  margin-right: auto;
  margin-left: auto;
}

table {
  border-collapse: collapse;
  width: 100%;
}
th, td {
  text-align: center;
  padding: 10px;
  border: 1px solid black;
}
th {
  background-color: #ccc;
}

.accordion-body {
  text-align: left;
}